
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
}

.container{
    max-width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
gap: 2rem;
    
}


.key,
.history{
    min-width: 800px;
    min-height: 120px;
    box-shadow: 2px 4px 10px grey;
    border-radius: 5px;
    display: grid;
    place-items: center;
    background-color: #ffffff;
    font-size: 3rem;
    font-weight: bold;
}

.KeyCode{
    min-width: 150px ;
    min-height: 200px;
   /* margin-top: 1rem; */
    background-color: white;
    box-shadow: 2px 4px 10px grey;
    display: grid;
    place-items: center;
    font-size: 3rem;
    border-radius: 5px;
    font-weight: bold;

}